
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=Gnd10fuxj6RtuK86gscDhQ==,YAUOWP31X3ncXAccPvlF8g==,c1C6uIANgYr8O8UPl2Ivdg==,uKuZp9wxYTcpYjZ35B6Ekg==
API_TOKEN_SALT=vo34hqvrWojMzIK2OKmlhA==
ADMIN_JWT_SECRET=8cfDJfQSl7BLsxrGkyc9TA==
TRANSFER_TOKEN_SALT=ekGrlvL7RGvn4Uxq5RHtFQ==
ENCRYPTION_KEY=j1hi8e2bbauHu6pfthlqVQ==

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=emyVKgXOaZ2VRYOhV/Q8eQ==
